/* ===== СБРОСЫ И ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===== */
* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.mobile-only {
    display: none;
}